.demoblock {
    border:solid 1px red;
}
.index{
    border:solid 1px red;
}

.gridContainer2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    padding-top: 15px;
    padding-bottom: 65px; //border: solid;
    margin: auto;
    h2 {
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: 35px;
        font-weight: 200;
    }



    .blockholder {

        &.slider {

            overflow: hidden;
            @include make-col(10);
            margin: auto;
            @include media-breakpoint-up(md) {
                @include make-col(12);
            } //margin: auto;
            .sliderwrap {
                border:solid 1px red;
                display: flex; //flex-wrap: no-wrap;
                position: relative;
                a {
                     width: 100%;
                    max-width: 100%;
                    flex-basis: 100%;
                    @include media-breakpoint-up(md) {
                        @include make-col(4);
                    }
                    .itemimg{

                        padding:0px;
                        img{
                            padding: 0px 50px;
                        }
                    }
                }
            }
            nav {
                height:60px;
                ul {
                    li {
                        display: inline-flex;
                        a {
                            padding:10px 20px;
                            color: black;
                        }
                    }
                }
            }
        }
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        a {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            @include make-col(10);

            padding: 0px;
            min-height: 200px;
            @include media-breakpoint-up(md) {
                @include make-col(4);
            }
            @include media-breakpoint-up(lg) {}
            justify-content: center;
            .item {
                -webkit-transition: transform 0.5s;
                transition: transform 0.5s;
                width: 100%;
                background-color: #25a1a9;
                margin: 5px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                transform: scale(1);
                position: relative;
                z-index: 1;

                .itemheader {
                    -webkit-transition: opacity 1s;
                    transition: opacity 1s;
                    opacity: 1;
                    text-align: center;
                    position: absolute;
                    max-width: 280px;
                    align-self: center;

                    q,
                    p {

                        color: #fff;
                        font-size: 16px;
                        padding: 0px 25px;
                        display: block;
                    }
                    img {
                        width: 100px;
                        height: auto;
                       
                        -webkit-filter: brightness(0%) saturate(100%) invert(16%) sepia(93%) saturate(6447%);
                    }
                }
                .itemimg {
                    -webkit-transition: opacity 0.5s;
                    transition: opacity 0.5s;
                    position: relative;
                    opacity: 1;
                    background-color: orange;
                    padding: 50px;
                    width: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain; //opacity: 0;
                        @include media-breakpoint-up(md) {
                            padding: 0px;
                        }
                    }
                }
            }
            &:hover {
                .item {
                    transform: scale(1.05);
                    background-color: #3c4354;
                    box-shadow: 0px 0px 10px #000000;
                    z-index: 2;
                    .itemheader {
                        opacity: 1;
                        display: block;
                        h3 {
                            color: green;
                        }
                    }
                    .itemimg {
                        opacity: 0;
                        display: block;
                    }
                }
            }
        }
    }
}