//used breakpoints
//min-width: 320px
//min-width: 480px
//min-width: 768px
//min-width: 768px
//min-width: 992px
//min-width: 1200px
.boilerplate{
  margin-top:-5px;
}
.demoblock {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: auto;
     // margin-top: 235px;
    .demoblockleft {
        justify-content: left;
        // border: solid 1px red;
        width: 66%;
        margin-left: 0;
        float: left;
        .quoteblock{
              min-height:350px;
        }
    }
}

.quoteblock {
    .overlay {
        position: absolute;
        background-color: black;
        width: 100%;
        height: 100%;
        display: block;
        z-index: -1;
        top: 0px;
        left: 0px;
        opacity: 0.5;

        .new4 & {
            background-color: transparent;
            opacity: 0.3;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 10), rgba(255, 255, 255, 0.5));
        }
    } //border: solid 1px #3c4354;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    z-index:0;
    position:relative;
    width: 100%;
    padding-top: 80px;
    min-height:400px;
    margin: auto;
    padding: 0px;


    .new1 & {
        border: solid 0px #3c4354;
        background-image: url("../img/back1.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
        &.slide {
            background-image: none;
            background-color: red;
        }
    }

    .new2 & {
        background-image: url("../img/persoon2.png");
        background-position: top right;
      
    }

    .new3 & {
        background-image: url("../img/persoon4.png");
        background-position: top right;
    }
    .new4 & {
        background-image: url("../img/persoon4.png");
        background-position: top right;
    }
    padding: 25px;
    @media screen and (min-width: 768px) {
        padding: 65px; //padding-right: 45px;
        .new1 & {
            padding-right: 30%;
        }
        .demoblockleft &{
          padding-right: 65px;
        }
    }
    ul {
        margin: 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 1024px;
        justify-content: center;
        padding: 0px;
        .new3 & {
            padding-left: 0px;
            margin-left: 0px;
            left: 0px;
            display: block;
        }
        li {
            margin-top: 0px;
            display: flex;
            text-align: center;
            @media screen and (min-width: 768px) {
                text-align:left;
            }

            img {
                //       .new & {
                //   border:solid 1px red;
                // }
                width: 70px;
                height: auto;
                border-radius: 100%;
                display: block;
                align-self: center;
                margin: auto;
                @media screen and (min-width: 992px) {
                    width: 100px;
                    .demoblockleft &{
                      width:80px;
                    }
                }
            }
            .textBack {
                padding-left: 25px;
                .new2 & {
                    margin: auto; //opacity:0.5;
                    //background-color:rgba(37, 161, 169, .4) ;
                }
            }
            q {
                width: 100%;
                padding: 25px;
                display: block;
                color: #25a1a9;

                .new1 & {
                    color: #fff; //text-align:left;
                }
                .new2 & {
                    background-color: rgba(37, 161, 169, .4);
                    display: inline;
                    padding: 5px;
                    line-height: 46px;
                }
                .new3 & {
                    padding-left: 0px;
                    margin-left: 0px;
                }
                -webkit-font-smoothing: antialiased !important;
                font-family: 'titilliumweb-light-webfont';
                font-weight: normal;
                font-size: 18px;

                @media screen and (min-width: 768px) {
                    font-size: 20px;
                    padding: 20px;
                }
                @media screen and (min-width: 992px) {
                    font-size: 25px;
                }
            }
            @include make-col(12);
            &:last-child {
                @include make-col(12);
            }
            @media screen and (min-width: 768px) {
                @include make-col(2);
                &:last-child {
                    @include make-col(10); // border: solid 1px red;
                }
            }
        }
    }
}

.quoteblockTop {
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
    padding:0px 0px;
    font-size: 1.7em;
    h5,
    h6 {
        -webkit-font-smoothing: antialiased !important;
        font-family: 'titilliumweb-bold-webfont';
        font-family: 'titilliumweb-regular-webfont';
        display: block;
        .new1 & {
            color: #fff;
        }


        @media screen and (min-width: 768px) {
            display: inline-block;
        }
    }
    h5 {
        margin-top: 0px;
        @media screen and (min-width: 768px) {
            margin-top:10px;
        }
        .new2 & {
            color: #E84424;
        }
        color:#E84424;
        padding: 0px 5px;
        font-size: 1.1em;
    }
    h6 {

        margin-bottom: 0px;
        @media screen and (min-width: 768px) {
            margin-bottom:15px;
        }
        color: #3c4353;
        font-size: 1.1em;
    }
}


.quoteblockBottom {
    text-align: center;
    padding: 0px 25px;
    @media screen and (min-width: 768px) {
        text-align: right;
        .new3 & {
            text-align: left;
            padding-left: 0px;
        }
    }

    h5,
    h6 {
        -webkit-font-smoothing: antialiased !important;
        font-family: 'titilliumweb-bold-webfont';
        display: inline-block;
        .new1 & {
            color: #fff;
        }
    }
    h5 {
        color: #E84424;
        .new2 & {
            color: #E84424;
        }
        padding: 0px 0px 0px 10px;
        font-size: 1.1em;
    }
    h6 {
        color: #25a1a9;
        font-size: 1em;
    }
}