@font-face {
  font-family: 'titilliumweb-regular-webfont';
  //src:  url('../fonts/titilliumweb-regular.woff2') format('woff2'),
  url('../fonts/titilliumweb-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titilliumweb-light-webfont';
  //src:  url('../fonts/titilliumweb-light.woff2') format('woff2'),
  url('../fonts/titilliumweb-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titilliumweb-bold-webfont';
  //src:  url('../fonts/titilliumweb-bold.woff2') format('woff2'),
  url('../fonts/titilliumweb-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titilliumweb-semibold-webfont';
  //src:  url('../fonts/titilliumweb-semibold.woff2') format('woff2'),
  url('../fonts/titilliumweb-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


